.single-btn{
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btn-right-area{
    display: flex;
}
.single-row input{
    width: 100%;
}
.dashicons-trash{
    color:red;
}
.dashicons-plus-alt{
    color:green;
    cursor:copy;
}
.left-area{
    /* display: none; */
    width: 90%;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
.bsc-btn-text-field{
    border-bottom: 1px solid #ddd;
}
.bsc-btn-text-field p input{
    width: 100%;
}
.bsc-btn-space-field,.bsc-btn-color-field{
    padding:20px 0; 
    display: flex;
    justify-content: space-between;
}
.single-field{
    width: 30%;
}
.single-field label{
    display: block;
}
.single-field label span{
    font-style: italic;
    color: #a2a1a1;
}